.Contacto {
    padding: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
    height: 90vh;
}
.Contacto-links{
    display: flex;
    flex-direction: column;
}




.Contacto-instagram{
    text-align: end;
}

.Contacto-direccion{
    text-align: end;
    font-size: 12px;
}













.Contacto-h1 {
    font-size: 3em;
    color: var(--text);
    font-style: oblique;
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 1s ease, transform 1s ease;
}

.Contacto-email, .Contacto-direccion {
    color: var(--text);
    font-style: oblique;
    transform: translateY(30px);
    transition: opacity 0.8s ease, transform 0.6s ease;
}


.Contacto-email{
   
    text-align: end;
    margin-bottom: 0.8rem;
}
.Contacto-instagram {
    display: block;
    color: var(--text-secondary);
    font-style: oblique;
    transform: translateY(30px);
    transition: opacity 0.8s ease, transform 0.6s ease;
}

.Contenedor-imag {
    width: 100%;
    height: 300px;
    opacity: 0;
    transform: translateY(20px);
    margin: 1.5rem 0;
}

.Contacto-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 2px;
}

/* Clases para animaciones */
.Contacto-h1, .Contenedor-imag {
    opacity: 0;
    transform: translateY(20px);
}

.Contacto-email, .Contacto-direccion, .Contacto-instagram {
    opacity: 0;
    transform: translateY(30px);
}


.Contacto-direccion{
    margin-top: 0.3rem;
}

.fade-in {
    opacity: 1;
    transform: translateY(0);
    transition: opacity 1s ease, transform 1.8s ease;
}

.slide-in {
    opacity: 1;
    transform: translateY(0);
    transition: opacity 0.8s ease, transform 0.6s ease;
}




    /* Versión desktop: dos bloques lado a lado */
    @media (min-width: 768px) {
        /* .Contacto {
            flex-direction: row;
            align-items: center;
            justify-content: center;
            align-items: center;
            gap: 10rem;
        }

        .Contenedor-imag{
            width: 100%;
            height: 400px;
        }


        .Contacto-links{
            width: 40%;
          
            
        }
/*  */
        /* .Contacto-email,.Contacto-instagram{
            text-align: start;
        }
         */ */

        .Imagen-direccion{
           
            width: 80%;
        }


        .Contenedor-imag{
            height: 400px;
        }
      
    }
